issues/*
.ipynb_checkpoints/*
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.py[cod]
*.pyo
temp.html
temp2.html
users.json
tests/clean_madi.py
tests/test.py
dump/**

tests/testnotes_df/*.csv
tests/testnotes_df/*.csv
tests/testnotes_df/test_JWM/*.csv
